<div class="text-center mt-5 text-primary">
  <h1 class="display-1">Salt Lake Lodge #17</h1>
  <h4>Free and Accepted Masons</h4>
  <h6>
    650 East South Temple, Salt Lake City, UT</h6>
</div>

<div class="mt-5">
  <%= image_tag("temple.jpeg", style: "width: 100%") %>

</div>
<div class="mt-5 text-center bg-body-tertiary shadow-sm p-5" id="contact-us">
  <h5 class="p-1">
    We meet on the first Saturday every month at 10 AM, except for July and August
  </h5>
  <div class="row">
    <div class="col text"></div>
    <div class="col text-center me-1">
      <%= link_to("Freemasons in Utah", "https://www.utahgrandlodge.org/") %>
    </div>
    <div class="col text-center me-1">
      <%= link_to("What is Freemasonry?", "https://www.ugle.org.uk/discover-freemasonry/what-is-freemasonry") %>
    </div>
    <div class="col text-center">
      <a href="mailto: larry@fairclough.us">Contact Us</a>
    </div>
    <div class="col"></div>
  </div>
</div>
<div  class="mt-3 mb-3 row">
<div class="col">
  <%= image_tag("sphynx.jpeg", style: "width: 70%") %>

</div>
  <div class="col" id="directions">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2144.0899579539564!2d-111.87369976814982!3d40.76842212572975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f571a9d93ab7%3A0x9c30fe2fc9197e34!2sSalt%20Lake%20Masonic%20Temple!5e0!3m2!1sen!2sus!4v1712351965416!5m2!1sen!2sus" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>

</div>
<div class="mb-5">

</div>